/* Since we set elements class through D3 and not React, we have to use global
 class names and selectors for now */

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

:global{
  /* usmap.js */
  .svgContainer{
    width:100%;
    height: auto;
  }
  .state{
    fill: none;
    stroke: #a9a9a9;
    stroke-width: 1;
  }
  .state:hover{
    fill-opacity:0.5;
  }
  #usmap-tooltip {
    position: absolute;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 1px;
    border-radius: 2px;
    pointer-events: none;
    z-index: 10;
  }
  #usmap-tooltip h4{
    margin:0;
    font-size:14px;
  }
  #usmap-tooltip{
    background:rgba(0,0,0,0.9);
    border:1px solid grey;
    border-radius:5px;
    font-size:12px;
    width:auto;
    padding:4px;
    color:white;
    opacity:0;
  }
  #usmap-tooltip table{
    table-layout:fixed;
  }
  #usmap-tooltip tr td{
    padding:0;
    margin:0;
  }
  #usmap-tooltip tr td:nth-child(1){
    width:50px;
  }
  #usmap-tooltip tr td:nth-child(2){
    text-align:center;
  }

  .arc text {
    font: 70px sans-serif;
    text-anchor: middle;
  }

  .arc path {
    stroke: #fff;
  }

  .arc:hover{
    fill-opacity:0.5;
  }

  /* treemap.js */

  #treemap {
    width: 960px;
    height: 500px;
    background: #ddd;
  }

  text {
    pointer-events: none;
  }

  .grandparent text {
    font-weight: bold;
  }

  rect {
    fill: none;
    stroke: #fff;
  }

  rect.parent,
  .grandparent rect {
    stroke-width: 2px;
  }

  .grandparent rect {
    fill: orange;
  }

  .grandparent:hover rect {
    fill: #ee9700;
  }

  .children rect.parent,
  .grandparent rect {
    cursor: pointer;
  }

  .children rect.parent {
    fill: #bbb;
    fill-opacity: .5;
  }

  .children:hover rect.child {
    fill: #bbb;
  }

  path.slice{
	  stroke-width:2px;
  }

  polyline{
	  opacity: .3;
	  stroke: black;
	  stroke-width: 2px;
	  fill: none;
  }

  .labels text {
    font-size: 30px;
  }

  .labels text.population {
    font-size: 20px;
  }

}
