:global {
  .state {
    fill: #ddd;
  }

  .state-hidden {
    pointer-events: none;
  }

  .border {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
  }

  .bubble {
    fill: #e89600;
    fill-opacity: 0.5;
    stroke: #fff;
    stroke-width: 0.5;
    pointer-events: none;
  }

  #mapText {
    float: right;
  }
}
